@{
    <link href="@Url.Content("~/Content/registerpage.css")" rel="stylesheet" type="text/css" />
}

<head>
@*    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>*@



    @*<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<form id="form" method="post" action="/Home/Register">
    <p>Sign up once and watch our free things.</p>

    <div class="form-group">
        <label for="name">Your Name</label>
        <br />
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i>            </div>
            <input type="text" id="name" placeholder="Enter Your Name" />
        </div>
    </div>

    <div class="form-group">
        <label for="email">Your Email</label>
        <br />
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true">            </i></div>
            <input type="email" id="email" placeholder="Enter Your Email" />
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="username">Your Username</label>
        <br />
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i>            </div>
            <input type="text" id="username" placeholder="Enter Your Username" />
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="password">Your Password</label>
        <br />
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i>            </div>
            <input type="text" id="password" placeholder="Enter Your Password" />
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="password-confirm">Confirm Your Password</label>
        <br />
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i>            </div>
            <input type="text" id="password-confirm" placeholder="Confirm Your Password" />
        </div>
    </div>
    </div>

    <button type="button" class="btn btn-default" @*onclick="btnSubmit()"*@>Register</button>
</form>


<script type="text/javascript">
    // <![CDATA[
    //$('#btnSubmit').click(function () {
    //    debugger 
        //$("#form").validate({
        //    rules: {
        //        name: {
        //            required: true,
        //            maxlength: 10,
        //            minlength: 3
        //        },
               
        //        },
        //        messages: {
        //        name: {
        //            required: "First name is required",
        //            maxlength: "Too long",
        //            minlength: "Too short"
        //        },
                
        //        }
        //});
    //});
    // ]]>

    $(document).ready(function () {
        $("button").click(function () {
             
            alert("jQuery is working perfectly.");

            $("#form").validate({
                rules: {
                    name: {
                        required: true,
                        maxlength: 10,
                        minlength: 3
                    },

                },
                messages: {
                    name: {
                        required: "First name is required",
                        maxlength: "Too long",
                        minlength: "Too short"
                    },

                }
            });
        });
    });
</script>